body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif
}

h2 {
    text-align: center;
}

.centered-content {
    display: flex;
    align-items: center;
    height: calc(100vh - [BANNER HEIGHT]);
    flex-direction: column;
    margin-top: [BANNER HEIGHT];
}

/* Rounded Banner */
.banner{
    /* The Image Used */
    background-image: url('/static/images/banner.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: black;
    padding: 60px 0;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px grba(0, 0, 0, 0.1);
}


.jupiter-photo {
    margin-top: calc(33.33% - 0.5 * [IMAGE HEIGHT]);
    max-width: 90%;
    position: center;
    margin-bottom: 20px;
}

.flashcard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20;
    flex-wrap:nowrap;
}

.flashcard {
    background: rgba(255, 255, 250, 0.8);
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    transform-origin: center center;
}

.flashcard:hover {
    /* Enlarge by 30% */
    transform: scale(1.3);
}

.simple-button {
    display: inline-block;
    padding: 10px 20px;
    color: rgba(63, 63, 53, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.simple-button:hover {
    background-color: #0056b3;
}