body {
    font-family: Arial, sans-serif;
    background-image: url('../images/jupiter2.jpg');
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.registration-container, .login-container {
    text-align: center;
}

.registration-box, .login-box {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid black;
    width: 300px;
    background-color: rgb(57, 57, 57);
}

.input-group {
    margin: 10px 0;
}

label {
    display: block;
    margin-bottom: 5px
}

input[type="text"], input[type="password"], button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
/* Fix This */
.back-button-container {
    position: absolute;
    top: 10px;
    left: 10px;
}