{% extends 'space/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jupiter Homepage</title>
</head>
<body>
    <div class ="banner">
  <div>
    <h1>Welcome to Jovian Tours!</h1>
    <h3>Where We share our love for Jupiter its major moons with you!</h3>
    <a href="{% url 'space:register' %}" class="simple-button">Register</a>

  </div>
</div>
<main>
    <h2>Jupiter</h2>
    <div class="container">
    <img src="static/images/Jupiter.jpg" alt="Jupiter" class="jupiter-photo" height="650">
    </div>
    <div class="flashcard-container">
        <div class="flashcard">
            <p><strong>Did you know, Jupiter is so large it could fit 1,300 Earths within it! </strong> </p>
        </div>
        <div class="flashcard">
            <p><strong>Fact 2: Jupiter is a gas giant made mostly of hydrogen and helium.</strong></p>
        </div>
        <div class="flashcard">
            <p><strong>Fact 3: One day on Jupiter goes by in just 10 hours!</strong></p>
        </div>
    </div>
    <img src="static/images/jupiter3.webp" alt="Photo of Jupiter from South Pole" class="jupiter-photo3" height="750">
    <img src="static/images/jupiter4.jpg" alt="Photo of Jupiter" class="jupiter-photo4" height="750">
    <div class="flashcard-container">
      <div class="flashcard">
          <p><strong>Did you know that Jupiter has rings? Our tour guide will get you up close and personal to view these amazing rings. Although faint, once close enough you will see them in their grandure </strong> </p>
      </div>
      <div class="flashcard">
          <p><strong>I bet you think a year is long here on Earth. Well, on Jupiter one year is 11.8 Earth years! You better tell you boss you need a few more months of vacation during the year if you live here!</strong></p>
      </div>
      <div class="flashcard">
        <p><strong>Jupiter is one of the most visited objects in our solar system. It has had Pioneer 10, and 11, Voyager 1, and 2, Cassini, New Horizons, and Juno pass or orbit it! Well charted territories means more safety for your visit.</strong></p>
      </div>
</main>
</body>
</html>
{% endblock %}