{% extends 'space/base.html' %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jupiter Homepage</title>
    <!-- <style>
        #loader {
            border: 5px solid #f3f3f3; /* Light grey */
            border-top: 5px solid #3d3d3d; /* Grey */
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 1s linear infinite;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style> -->
</head>
<body>
    <!-- <div id="info">
        <a href="https://threejs.org" target="_blank" rel="noopener"></a>
    </div>

    <div id="loader"></div>

    <script src="{% static 'js/three.js' %}"></script>
    <script src="{% static 'js/GLTFLoader.js' %}"></script>
 
    </script>

    <script type="module">

        import * as THREE from 'three';

        import { OrbitControls } from 'three/addons/controls/OrbitControls.js';

        import { GUI } from 'three/addons/libs/lil-gui.module.min.js';

        let camera, scene, renderer;
        let controls, gui;

        init();
        animate();

        function init() {

            THREE.Object3D.DEFAULT_UP.set( 0, 0, 1 );

            renderer = new THREE.WebGLRenderer( { antialias: true } );
            renderer.setPixelRatio( window.devicePixelRatio );
            renderer.setSize( window.innerWidth, window.innerHeight );
            document.body.appendChild( renderer.domElement );

            camera = new THREE.PerspectiveCamera( 60, window.innerWidth / window.innerHeight, 1, 1000 );
            camera.position.set( 26, - 40, 5 );

            scene = new THREE.Scene();

            const directionalLight = new THREE.DirectionalLight( 0xffffff, 6 );
            directionalLight.position.set( 0, 0, 2 );
            scene.add( directionalLight );

            const loader = new THREE.GLTFLoader();
            loader.load('static/images/jupiter.gltf', function(gltf) {
                const planet = gltf.scene;
                scene.add(planet); 

                document.getElementById( 'loader' ).style.display = 'none';
            });

            controls = new OrbitControls( camera, renderer.domElement );

            window.addEventListener( 'resize', resize );

        }

        function resize() {

            const width = window.innerWidth;
            const height = window.innerHeight;

            camera.aspect = width / height;
            camera.updateProjectionMatrix();

            renderer.setSize( width, height );

        }

        function animate() {

            controls.update();
            renderer.render( scene, camera );

            requestAnimationFrame( animate );

        }

        function initGUI( layers ) {

            gui = new GUI( { title: 'layers' } );

            for ( let i = 0; i < layers.length; i ++ ) {

                const layer = layers[ i ];
                gui.add( layer, 'visible' ).name( layer.name ).onChange( function ( val ) {

                    const name = this.object.name;

                    scene.traverse( function ( child ) {

                        if ( child.userData.hasOwnProperty( 'attributes' ) ) {

                            if ( 'layerIndex' in child.userData.attributes ) {

                                const layerName = layers[ child.userData.attributes.layerIndex ].name;

                                if ( layerName === name ) {

                                    child.visible = val;
                                    layer.visible = val;

                                }

                            }

                        }

                    } );

                } );

            }

        }
    </script> -->



    
<div class ="banner">
  <div>
    <h1>Welcome to The Jovian Expedition Force!</h1>
    <h3>The Jovian Experts!</h3>
     <!-- Banner Buttons -->
    <div class="button-container">
      <a href="{% url 'space:register' %}" class="simple-button">Register</a>
        <div class="redirect-container">
          <a href="{% url 'space:moon' %}" class="simple-button">Where To Tour!</a>
        </div>
     </div>
  </div>
</div>
<main>
    <h2>Jupiter</h2>
    <div class="container">
    <img src="static/images/Jupiter.jpg" alt="Jupiter" class="jupiter-photo" height="650">
    <img src="static/images/jupiter5.jpg" alt="Jupiter" class="jupiter-photo" height="650">
    </div>
    <div class="flashcard-container">
        <div class="flashcard">
            <p><strong>Did you know, Jupiter was named after the Roman Ruler of the Gods? </strong> </p>
        </div>
        <div class="flashcard">
            <p><strong>Jupiters Big Red Spot is a storm that reaches down 300 miles! Now thats deep.</strong></p>
        </div>
        <div class="flashcard">
            <p><strong>One day on Jupiter goes by in just 10 hours. Talk about a hectic day. You'd get nothing done!</strong></p>
        </div>
    </div>
    <img src="static/images/jupiter3.webp" alt="Photo of Jupiter from South Pole" class="jupiter-photo3" width="600" height="750">
    <img src="static/images/jupiter4.png" alt="Photo of Jupiter" class="jupiter-photo4" height="750">
    <div class="flashcard-container">
      <div class="flashcard">
          <p><strong>Did you know that Jupiter has its own heat source? it emits more energy than it receives from the Sun. Talk about a personal heater! </strong> </p>
      </div>
      <div class="flashcard">
          <p><strong>Try this on for size: Jupiter is 11 times wider than Earth. If Earth were the size of a nickel, Jupiter would be the size of a basketball!</strong></p>
      </div>
      <div class="flashcard">
        <p><strong>The top cloud layer of Jupiter is ammonia ice, the middle layer is likely made of ammonium hydrosulfide crystals. The inner could be water ice.</strong></p>
      </div>
</main>
</body>
</html>
{% endblock %}